---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Said from "../assets/me.webp";
import Github from "../assets/github.astro";
import Linkedin from "../assets/linkedin.astro";
import Cv from "../assets/cv.astro";
import Arrow from "../assets/arrow.astro";
import ArrowDown from "../assets/arrow_down.astro";
import Typewriter from "astro-typewriter";

const greetings = [
  "Hello",
  "Hola",
  "Bonjour",
  "Hallo",
  "Ciao",
  "Olá",
  "Привет",
  "こんにちは",
  "你好",
  "안녕하세요",
  "नमस्ते",
];
---

<Layout>
  <main
    class="md:mx-auto md:max-w-3xl md:px-5 md:mb-5 md:flex md:flex-col md:gap-10"
  >
    <section class="md:flex md:items-center md:justify-center md:gap-5 md:pt-8">
      <div class="flex items-center justify-center">
        <Image
          src={Said}
          alt="Said's photo"
          width={128}
          height={128}
          class="rounded-full border-6 border-primary"
        />
      </div>
      <div>
        <div>
          <h1
            class="flex items-center justify-center text-5xl font-bold font-onest text-primary md:block"
          >
            <Typewriter messages={greetings} />
          </h1>
          <div class="flex gap-1 items-center justify-center md:block">
            <span class="text-2xl text-primary font-bold font-onest">I'm</span>
            <span class="text-2xl text-accent font-bold uppercase font-onest">
              Saidrexx
            </span>
          </div>
          <h3
            class="flex items-center justify-center text-md font-bold font-onest text-primary md:block md:text-lg"
          >
            Computer Systems Engineer
          </h3>
        </div>
        <div class="flex gap-3 pt-2 items-center justify-center">
          <a
            href="https://github.com/saidrexx"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative inline-flex max-h-[3.75rem] items-center justify-center rounded-xl px-4 py-2 md:text-lg outline-none transition duration-300 bg-secondary hidden pl-[3.25rem] sm:flex"
          >
            <Github
              class="ease absolute left-5 translate-x-0 opacity-100 transition duration-300 group-hover:-translate-x-full group-hover:scale-x-50 group-hover:opacity-0 group-hover:blur-sm"
              width={24}
              height={24}
              fill="#fff"
            />
            <span
              class="ease translate-x-0 transition duration-300 group-hover:-translate-x-8 font-onest text-white"
              >Github</span
            >
            <Arrow
              class="ease absolute right-5 translate-x-full scale-x-50 opacity-0 blur-sm transition duration-300 group-hover:translate-x-0 group-hover:scale-x-100 group-hover:opacity-100 group-hover:blur-none"
              width={24}
              height={24}
              fill="#fff"
            />
          </a>

          <a
            href="https://www.linkedin.com/in/saidrexxdemeneghi"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative inline-flex max-h-[3.75rem] items-center justify-center rounded-xl px-4 py-2 md:text-lg outline-none transition duration-300 bg-secondary hidden pl-[3.25rem] sm:flex"
          >
            <Linkedin
              class="ease absolute left-5 translate-x-0 opacity-100 transition duration-300 group-hover:-translate-x-full group-hover:scale-x-50 group-hover:opacity-0 group-hover:blur-sm"
              width={24}
              height={24}
              fill="#fff"
            />
            <span
              class="ease translate-x-0 transition duration-300 group-hover:-translate-x-8 font-onest text-white"
              >LinkedIn</span
            >
            <Arrow
              class="ease absolute right-5 translate-x-full scale-x-50 opacity-0 blur-sm transition duration-300 group-hover:translate-x-0 group-hover:scale-x-100 group-hover:opacity-100 group-hover:blur-none"
              width={24}
              height={24}
              fill="#fff"
            />
          </a>
          <a
            id="cv_button"
            class="group relative inline-flex max-h-[3.75rem] items-center justify-center rounded-xl px-4 py-2 md:text-lg outline-none transition duration-300 bg-secondary hidden pl-[3.25rem] sm:flex cursor-pointer"
          >
            <Cv
              class="ease absolute left-5 translate-x-0 opacity-100 transition duration-300 group-hover:-translate-x-full group-hover:scale-x-50 group-hover:opacity-0 group-hover:blur-sm"
              width={24}
              height={24}
              fill="#fff"
            />
            <span
              class="ease translate-x-0 transition duration-300 group-hover:-translate-x-8 font-onest text-white"
              >Curriculum</span
            >
            <ArrowDown
              class="ease absolute right-5 translate-x-full scale-x-50 opacity-0 blur-sm transition duration-300 group-hover:translate-x-0 group-hover:scale-x-100 group-hover:opacity-100 group-hover:blur-none"
              width={24}
              height={24}
              fill="#fff"
            />
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>

<script>
  document.getElementById("cv_button")!.addEventListener("click", () => {
    const link = document.createElement("a");
    link.href = "../assets/download/CV_Rafael_Said_Hernández_Demeneghi.pdf";
    link.download = "CV_Rafael_Said_Hernández_Demeneghi.pdf";
    link.click();
  });
</script>
