---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta
      name="description"
      content="Portafolio de Saidrexx, un ingeniero en sistemas computacionales."
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Mi Portafolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background-color: #fffff3;
    background-image: url("../assets/bg-texture.png");
  }
</style>
